In [1]:
import pandas as pd
import numpy as np

In [28]:
s1=pd.Series(np.random.randint(1,4,100))
s2=pd.Series(np.random.randint(1,3,100))
s3=pd.Series(np.random.randint(10000,30000,100))

In [29]:
df=pd.DataFrame()
df['s1']=s1
df['s2']=s2
df['s3']=s3

In [30]:
df

    s1  s2     s3
0    1   2  19828
1    2   2  13686
2    2   2  11940
3    1   1  26017
4    2   2  29250
..  ..  ..    ...
95   2   2  11919
96   2   1  22507
97   2   2  14985
98   2   1  20914
99   1   1  19450

[100 rows x 3 columns]

In [33]:
df.rename(columns = {'s1':'bedrs','s2':'bathrs','s3':'sqfeet'}, inplace=True)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
bedrs     100 non-null int32
bathrs    100 non-null int32
sqfeet    100 non-null int32
dtypes: int32(3)
memory usage: 1.3 KB

In [46]:
df2=pd.DataFrame()

In [58]:
bignum=s1.append(s2,ignore_index=True)
bignum=bignum.append(s3,ignore_index=True)

In [60]:
df2['bignum']=bignum